[submodule "modules/LandR_MPB_studyArea"]
	path = modules/LandR_MPB_studyArea
	url = https://github.com/achubaty/LandR_MPB_studyArea
[submodule "modules/mpbClimateData"]
	path = modules/mpbClimateData
	url = https://github.com/achubaty/mpbClimateData
[submodule "modules/mpbMassAttacksData"]
	path = modules/mpbMassAttacksData
	url = https://github.com/achubaty/mpbMassAttacksData
[submodule "modules/mpbPine"]
	path = modules/mpbPine
	url = https://github.com/achubaty/mpbPine
[submodule "modules/mpbRedTopSpread"]
	path = modules/mpbRedTopSpread
	url = https://github.com/achubaty/mpbRedTopSpread
[submodule "modules/Biomass_core"]
	path = modules/Biomass_core
	url = git@github.com:PredictiveEcology/Biomass_core.git
[submodule "modules/Biomass_regeneration"]
	path = modules/Biomass_regeneration
	url = git@github.com:PredictiveEcology/Biomass_regeneration.git
[submodule "modules/Biomass_borealDataPrep"]
	path = modules/Biomass_borealDataPrep
	url = git@github.com:PredictiveEcology/Biomass_borealDataPrep.git
