.Rapp.history
.RData
*.Renviron
.Rhistory
.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

## cache files
.channel_cache
*_cache/
/cache/
cache
cache/

## simulation data and outputs
.checkpoint
*.html
*.rda
data/
inputs
inputs/
outputs
outputs/
outputs*/
packages/
MPB_AERIAL_SURVEY.gdb/
J4RServer*.log
J4RServer*.log.lck
J4RTmpFile

## OAuth tokens
.httr-oauth
.httr-oauth-SUSPENDED
*.json
.secret

## misc OS files
Thumbs.db

## !! Module data should be gitignored in the respective module's data dir !!
## !! inputs/ has its own .gitignore file too !!
