[submodule "modules/mpbClimateData"]
	path = modules/mpbClimateData
	url = https://github.com/achubaty/mpbClimateData
[submodule "modules/mpbMassAttacksData"]
	path = modules/mpbMassAttacksData
	url = https://github.com/achubaty/mpbMassAttacksData
[submodule "modules/mpbPine"]
	path = modules/mpbPine
	url = https://github.com/achubaty/mpbPine
[submodule "modules/mpbRedTopSpread"]
	path = modules/mpbRedTopSpread
	url = https://github.com/achubaty/mpbRedTopSpread
[submodule "modules/MPB_SK_studyArea"]
	path = modules/MPB_SK_studyArea
	url = https://github.com/achubaty/MPB_SK_studyArea